* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}
/* HEADER START */
header{
    padding: 20px 30px 30px 0;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
}

header h1{
    background-color: skyblue;
    font-weight: bold;
    font-size: 36px;
    color:maroon;
    margin: 0;
    padding:10px 5px 10px 50px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 25px;
}

header nav ul a{
    padding: 0px 30px;
    font-size: 1.55vw;

}
/* HEADER END */

/* ABOUT ME SECTION START */

.about-me{
    padding: 20px 10px 10px 30px;
    display: flex;
    justify-content: space-between;
}
.about-me h2{
    padding:10px 20px 10px 52px;
}

.selfie{
    padding: 10px;
    display: flex;
}

.selfie img{
    flex: 1 25%;
    width: 100%;
    height: 100%;
}

.about-body{
    padding: 20px 30px;
    display: flex;
    text-align: center;
}

.about-body p{
    font-size: 20px;
    line-height: 1.3;
    background-color: gray;
}

/* ABOUT ME SECTION END */

/* PROJECTS SECTION START */

.projects{
    padding: 20px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
}
.projects h2{
    padding:10px 20px 10px 00px;
}

.projects-container{
    margin-left: 10px;

    width: 90%;
    height: auto;
    flex-wrap: wrap;
    justify-content:space-between;
    
}

.main-project{
    border: 10px solid lightblue;
    position: relative;
}

.main-project p{
    position: absolute;
    bottom: 5%;
}

.main-project img{
    background-size: cover;
    background-position: center;
    flex: 1 12%;
    height:100%;
    width:100%;
    opacity: 25%;
}

.smaller-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.small-project{
    margin-top: 10px;
    border: 5px solid lightblue;
    position: relative;
    width: 49%;

}

.small-project p{
    position: absolute;
    bottom: 5%;
}

.small-project img{
   float:left;
    height:100%;
    width:100%;
    object-fit:cover;
    opacity: 25%;
}

.main-project img:hover, .small-project img:hover{

    opacity: 100%;
}
/* PROJECTS SECTION END */

/* FOOTER SECTION START */
footer{
    padding: 20px 30px 30px 0;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
}

footer h3{
    color: maroon;
    font-weight: bold;
    font-size: 44px; 
    margin: 0;
    border-right: 3px solid maroon;
    text-align: right;
}

footer nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-top: 25px;
}

footer nav ul a{
    padding: 0px 30px;
    font-size: 2vw;

}
/* FOOTER SECTION END */

.section-title{
    color: maroon;
    font-weight: bold;
    font-size: 48px; 
    margin: 0;
    border-right: 3px solid maroon;
    text-align: right;

}

.captions{
    font-size: 15px;
    font-weight: bold;
    color: red;
    border: 5px solid lightblue;
    border-left: 0px;
    padding: 10px 5px;
    background-color: lightblue; 
}


.flex-row{

    display: flex;

}